@import "tailwindcss";

@theme {
  --color-brand-navy: #0D1B8E;
  --color-brand-yellow: #F5C800;
  --color-brand-sky: #38C0F0;
  --color-brand-green: #2D7A2D;

  --font-sans: var(--font-nunito);
  --font-display: var(--font-fredoka);
}

body {
  background-color: #ffffff;
  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}
